*.swp
*.o
*.obj
*.lo
*.ko
*.elf
*.ilk
*.pdb

*.exe
*.out
*.app
*.so
*.so.*
*.dylib
*.dll
*.a
*.lib

/build/
/doc/code

/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
*.make
*.ninja
.ninja_deps
.ninja_log
compile_commands.json

*.gch
*.pch

*.log
*.tmp
*.bak
